build --incompatible_restrict_string_escapes=false
query --incompatible_restrict_string_escapes=false

build --cxxopt=-std=c++17 --cxxopt=-m64 --host_cxxopt=-std=c++17
build --incompatible_strict_action_env

build --action_env=PATH=/usr/local/bin:/usr/bin:/bin
build --test_env=PATH=/usr/local/bin:/usr/bin:/bin
build --action_env=LD_LIBRARY_PATH=
build --test_env=LD_LIBRARY_PATH=
